[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jerry/Desktop/Screenshot_2019-10-03_20-29-16.png]
row=5
col=0

[/home/jerry/Desktop/FORESCER 2.jpg]
row=8
col=0

[/home/jerry/Desktop/Fatores associados à retenção de peso pós parto_2004.pdf]
row=1
col=1

[/home/jerry/Desktop/manual.desktop]
row=6
col=0

[/home/jerry/Desktop/FLORESCER]
row=7
col=0

[/home/jerry/Desktop/fatores comportamentais e RPPP_Faliveni, Orden, 2017.pdf]
row=2
col=1

[24007cb8-21f4-4241-b2da-4836170764b8]
row=0
col=1

[24a9b9e1-8968-4c61-a225-b79e0ee8da5d]
row=0
col=0

[51e5a1f4-ad13-4973-aeed-641df6c801a2]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/jerry]
row=4
col=0

