[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jerry/Desktop/Screenshot_2019-10-03_20-29-16.png]
row=5
col=0

[/home/jerry/Desktop/manual.desktop]
row=6
col=0

[bf9e2859-16e1-413b-bac5-b4b80f74a525]
row=0
col=0

[bc047491-6c19-41cf-af34-aad767788ece]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/jerry]
row=4
col=0

